*,
html {
   margin: 0px;
   padding:0px;
   
}
 
 h1 {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #58b99e;
    font-size: 23px;
    height: 30px;
    margin: 0;
    padding: 0px;
    padding-top: 40px;
    
 }

 h2 {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #58b99e;
    font-style: Arial;
    height: 40px;
    padding: 10px;
    margin: 0;
    font-size: 10px;

 }


.container-navbar {
   background-color: #333; 
   border:5px gray;
   padding:0px; 
   color:white;
   font-size: 12px;

}


.td-navbar {
   background-color: #555 ;
   border: 1px solid gray;
   border: 2px;
   flex: none;
   padding: 2px;
   margin-left: 70px;
}

.a-navbar{
   color: white;
   text-decoration: none;
}

p{
  font-size: 10px;
  padding: 0px; 
  margin: 0px;
  height: 20px;
}

p1{
   padding: 0px;
   margin: 0px;
   font-size: 12px;
}

h3{
   font-size: 15px;
   padding: 0px;
   height: 30px;
   
}

h4{
   padding: 0px;
   margin-top: 15px;
   font-size: 15px;
}

body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: #ffffff;
}


.row {
   display: flex;
   margin: 0;
   padding: 0px;
}


.left-column {
   flex: 10%;
   padding: 0px;
}


.right-column {
   flex: 45%;
   padding: 0px;
}


.card {
   background-color: white;
   padding: 20px;
   margin: 0px;
   border-block:inherit;
}

.fakeimg {
   background-color: #aaa;
   width: 90%;
   padding: 20px;
   height: 90px;
   text-align: left;
   color: black;
   margin-bottom: 5px;
}

.footer {
   background-color: #ddd;
   padding: 10px;
   text-align: center;
   color: black;
   margin-top: 20px;
}



